# Combinatorics

How many integer numbers from 1 to  1000 are divisible by 2 or by 3?

In [2]:
div2 = {i for i in range(1,1001) if i%2==0}
div3 = {i for i in range(1,1001) if i%3==0}

joinset = div2 | div3

print(f'There are {len(joinset)} numbers divisible by 2 or 3 between 1 and 1000')

There are 667 numbers divisible by 2 or 3 between 1 and 1000

How many integer numbers from 1 to  1000 are not divisible neither by 2, nor by 3?

In [3]:
bigset = {i for i in range(1,1001)}

diff_set = bigset - joinset

print(f'There are {len(diff_set)} numbers that are not divisible neither by 2 nor by 3 between 1 and 1000')

There are 333 numbers that are not divisible neither by 2 nor by 3 between 1 and 1000

What is the number of 5-symbol passwords where each symbol is one of the 26 lower case Latin letters?

In [4]:
print(f'There is a total of {26**5} of 5-symbol Latin letters password')

There is a total of 11881376 of 5-symbol Latin letters password

Linguists are studying texts in some ancient language with 25 letters. They want to compute how often different 3-letter combinations occur in texts in this language. For this they first need to list all 3-letter combinations. How many combinations will they have?

In [5]:
print(f'There is a total of {25*25*25} of 3-symbol combinations from a 25 letters language')

There is a total of 15625 of 3-symbol combinations from a 25 letters language

Suppose a license plate format contains a block of two digits followed by a block of two letters (26 choices) followed by a block of two digits. What is the number of different license plates?

In [6]:
print(f'There is a total of {10*10*26*26*10*10} different license plates')

There is a total of 6760000 different license plates

A board of 15 people has to pick a chairman of the board, a vice-chairman and a secretary among themselves. All three should be different persons. How many ways do they have to do it?

In [7]:
print(f'There are a total of {15*14*13} different ways how the 3 people can be chosen')

There are a total of 2730 different ways how the 3 people can be chosen

There are five different tables in the class and five students. Each table can be occupied by only one student. Their studying year consists of 200 days. As a small prank on their teacher students would like to sit in a new way every day, so there are no two days during their studying year such that all students are occupying the same tables. They would like to see whether this is possible. How many ways are there for them to sit in the class?

In [8]:
def factorial(n):
    return n*factorial(n-1) if n>0 else 1

print(f'There are {factorial(5)} different ways how students can sit in the class')

There are 120 different ways how students can sit in the class

How many integer numbers between 0 and 9999 are there that have exactly one digit 1 and exactly one digit 3?

In [9]:
#For the different positions for number 1 and 3
perm  = factorial(4)//factorial(4-2)
#For the different selection of the other digits
n = perm * (1*1*8*8)
print(f'There are {n} integers between 0 and 9999 that have exactly one digit 1 and exactly one digit 3')

There are 768 integers between 0 and 9999 that have exactly one digit 1 and exactly one digit 3

In how many ways can one select a team of five students out of ten students?

In [10]:
def combination(n,k):
    return factorial(n)//(factorial(n-k)*factorial(k))


print(f'A team of five students out of ten students can be chosen in {combination(10,5)} different ways')

A team of five students out of ten students can be chosen in 252 different ways

In how many ways can one partition ten students into two teams of size five?

In [11]:
print(f'We can partition ten students into two teams of size five in {combination(10,5)//2} different ways')

We can partition ten students into two teams of size five in 126 different ways

What will the following program print?

In [12]:
import time
n = 10
count = 0
start = time.time()
for i in range(n):
    for j in range(n):
        for k in range(n):
            if i < j and j < k:
                count += 1
end = time.time()
print(count)
print(f'Time used: {end-start} seconds' )

120
Time used: 0.0 seconds

What will the following program print? Note that n is large in this case, making this code too slow. Try to come up with the answer without running the code.

In [13]:
import time
n = 1000
count = 0
start = time.time()
for i in range(n):
    for j in range(n):
        for k in range(n):
            if i < j and j < k:
                count += 1
end = time.time()
print(count)
print(f'Time used: {end-start} seconds' )

166167000
Time used: 59.20818257331848 seconds

In [14]:
C = {}
def c(n,k):
    global C
    if (n,k) in C: return C[(n,k)]
    if k==n or k==0:
        C[(n,k)] = 1
        return C[(n,k)]
    C[(n,k)] = c(n-1,k-1) + c(n-1,k)
    return C[(n,k)]

Find the coefficients of the expansion of $(3a-2b)^3$

In [15]:
def coef(a=1,b=1,g=5):
    return [c(g,k)*(a**(g-k))*(b**(k)) for k in range(g+1)]

print(coef(a=3,b=-2,g=3))

[27, -54, 36, -8]

Find the coefficients of the expansion of $(3a-2b)^7$

In [16]:
print(coef(a=3,b=-2,g=7))

[2187, -10206, 20412, -22680, 15120, -6048, 1344, -128]

What is the number of 6-card hands with three hearts and three spades?

In [17]:
hearts = c(13,3)
spades = c(13,3)

print(f'There are {hearts*spades} 6-card hands with three hearts and three spades')

There are 81796 6-card hands with three hearts and three spades

What is the number of bit-strings (that is, strings consisting of 0's and 1's) of length 6 where the number of 0's is equal to the number of 1's?

In [18]:
print(f'There are {c(6,3)} number of bit-strings of length 6 where the number of 0\'s is equal to the number of 1\'s')

There are 20 number of bit-strings of length 6 where the number of 0's is equal to the number of 1's

What is the number of sequences of six digits where the number of even digits is equal to the number of odd digits?

In [19]:
perm = c(6,3)

print(f'There are {perm*(5**3)*(5**3)} number of sequences of six digits where the number of even digits is equal to the number of odd digits')

There are 312500 number of sequences of six digits where the number of even digits is equal to the number of odd digits

In how many ways one can get from the bottom left cell to the top right cell of a $13×13$ grid, if each move is either two cells up or three cells to the right?

In [20]:
memo = {}

def positions(r,c):
    if (r,c) in memo: return memo[(r,c)]
    if r==1 or c==1:
        memo[(r,c)] = 1
        return memo[(r,c)]
    memo[(r,c)] = positions(r-3,c)+positions(r,c-2)
    return memo[(r,c)]

print(f'Given those constraints, there are {positions(13,13)} different ways to get to the top right cell')

Given those constraints, there are 210 different ways to get to the top right cell

We have an unlimited supply of tomatoes, bell peppers and lettuce. We want to make a salad
out of 4 units among these three ingredients (we do not have to use all
ingredients). The order in which we use the ingredients does not matter. How many different salads we can make? 

We do not have the formula to answer this question yet, so try to list all the salads first or create a program that will do that for you. Then you can count the number of salads by hand (note the answer to the problem should be the number).

In [21]:
from itertools import combinations_with_replacement
#We define bell pepper as B, lettuce as L and tomatoes as T
initial = 'BLT'
for i, comb in enumerate(combinations_with_replacement(initial,4)):
    print(f'Combination {i+1} is {"".join(comb)}')

Combination 1 is BBBB
Combination 2 is BBBL
Combination 3 is BBBT
Combination 4 is BBLL
Combination 5 is BBLT
Combination 6 is BBTT
Combination 7 is BLLL
Combination 8 is BLLT
Combination 9 is BLTT
Combination 10 is BTTT
Combination 11 is LLLL
Combination 12 is LLLT
Combination 13 is LLTT
Combination 14 is LTTT
Combination 15 is TTTT

Twenty people are voting for one of 5 candidates. They have secret ballot, each voter votes for one of 5 candidates. The result of an election is the number of votes for each of the candidate. How many possible results can this vote have (the result of the vote is determined by the number of votes for each candidate)?

In [22]:
candidates = '12345'
people = 20

analytical = c(24,4)
comp = len(list(combinations_with_replacement(candidates,people)))

assert analytical==comp

print(f'There are {analytical} possible results for the election')

There are 10626 possible results for the election

We have 9 identical candies and we want to distribute them between 3 different sections of our bag. It does not matter which candies go to which section. How many ways do we have to do it?

In [23]:
bags = '123'
candies = 9

analytical = c(11,2)
comp = len(list(combinations_with_replacement(bags,candies)))

assert analytical==comp

print(f'There are {analytical} possible results for the candies and bags distribution')

There are 55 possible results for the candies and bags distribution

How manynon-negative integer numbers are there below 10000 such that their sum of digits is equal to 9?

In [24]:
from itertools import product
count=1
for d in product(range(10),repeat=4):
    if sum(d)==9:
        print(f'Value {count} is {"".join(map(str, list(d)))}')
        count+=1

Value 1 is 0009
Value 2 is 0018
Value 3 is 0027
Value 4 is 0036
Value 5 is 0045
Value 6 is 0054
Value 7 is 0063
Value 8 is 0072
Value 9 is 0081
Value 10 is 0090
Value 11 is 0108
Value 12 is 0117
Value 13 is 0126
Value 14 is 0135
Value 15 is 0144
Value 16 is 0153
Value 17 is 0162
Value 18 is 0171
Value 19 is 0180
Value 20 is 0207
Value 21 is 0216
Value 22 is 0225
Value 23 is 0234
Value 24 is 0243
Value 25 is 0252
Value 26 is 0261
Value 27 is 0270
Value 28 is 0306
Value 29 is 0315
Value 30 is 0324
Value 31 is 0333
Value 32 is 0342
Value 33 is 0351
Value 34 is 0360
Value 35 is 0405
Value 36 is 0414
Value 37 is 0423
Value 38 is 0432
Value 39 is 0441
Value 40 is 0450
Value 41 is 0504
Value 42 is 0513
Value 43 is 0522
Value 44 is 0531
Value 45 is 0540
Value 46 is 0603
Value 47 is 0612
Value 48 is 0621
Value 49 is 0630
Value 50 is 0702
Value 51 is 0711
Value 52 is 0720
Value 53 is 0801
Value 54 is 0810
Value 55 is 0900
Value 56 is 1008
Value 57 is 1017
Value 58 is 1026
Value 59 is 1035
Value 60 is 1044
Value 61 is 1053
Value 62 is 1062
Value 63 is 1071
Value 64 is 1080
Value 65 is 1107
Value 66 is 1116
Value 67 is 1125
Value 68 is 1134
Value 69 is 1143
Value 70 is 1152
Value 71 is 1161
Value 72 is 1170
Value 73 is 1206
Value 74 is 1215
Value 75 is 1224
Value 76 is 1233
Value 77 is 1242
Value 78 is 1251
Value 79 is 1260
Value 80 is 1305
Value 81 is 1314
Value 82 is 1323
Value 83 is 1332
Value 84 is 1341
Value 85 is 1350
Value 86 is 1404
Value 87 is 1413
Value 88 is 1422
Value 89 is 1431
Value 90 is 1440
Value 91 is 1503
Value 92 is 1512
Value 93 is 1521
Value 94 is 1530
Value 95 is 1602
Value 96 is 1611
Value 97 is 1620
Value 98 is 1701
Value 99 is 1710
Value 100 is 1800
Value 101 is 2007
Value 102 is 2016
Value 103 is 2025
Value 104 is 2034
Value 105 is 2043
Value 106 is 2052
Value 107 is 2061
Value 108 is 2070
Value 109 is 2106
Value 110 is 2115
Value 111 is 2124
Value 112 is 2133
Value 113 is 2142
Value 114 is 2151
Value 115 is 2160
Value 116 is 2205
Value 117 is 2214
Value 118 is 2223
Value 119 is 2232
Value 120 is 2241
Value 121 is 2250
Value 122 is 2304
Value 123 is 2313
Value 124 is 2322
Value 125 is 2331
Value 126 is 2340
Value 127 is 2403
Value 128 is 2412
Value 129 is 2421
Value 130 is 2430
Value 131 is 2502
Value 132 is 2511
Value 133 is 2520
Value 134 is 2601
Value 135 is 2610
Value 136 is 2700
Value 137 is 3006
Value 138 is 3015
Value 139 is 3024
Value 140 is 3033
Value 141 is 3042
Value 142 is 3051
Value 143 is 3060
Value 144 is 3105
Value 145 is 3114
Value 146 is 3123
Value 147 is 3132
Value 148 is 3141
Value 149 is 3150
Value 150 is 3204
Value 151 is 3213
Value 152 is 3222
Value 153 is 3231
Value 154 is 3240
Value 155 is 3303
Value 156 is 3312
Value 157 is 3321
Value 158 is 3330
Value 159 is 3402
Value 160 is 3411
Value 161 is 3420
Value 162 is 3501
Value 163 is 3510
Value 164 is 3600
Value 165 is 4005
Value 166 is 4014
Value 167 is 4023
Value 168 is 4032
Value 169 is 4041
Value 170 is 4050
Value 171 is 4104
Value 172 is 4113
Value 173 is 4122
Value 174 is 4131
Value 175 is 4140
Value 176 is 4203
Value 177 is 4212
Value 178 is 4221
Value 179 is 4230
Value 180 is 4302
Value 181 is 4311
Value 182 is 4320
Value 183 is 4401
Value 184 is 4410
Value 185 is 4500
Value 186 is 5004
Value 187 is 5013
Value 188 is 5022
Value 189 is 5031
Value 190 is 5040
Value 191 is 5103
Value 192 is 5112
Value 193 is 5121
Value 194 is 5130
Value 195 is 5202
Value 196 is 5211
Value 197 is 5220
Value 198 is 5301
Value 199 is 5310
Value 200 is 5400
Value 201 is 6003
Value 202 is 6012
Value 203 is 6021
Value 204 is 6030
Value 205 is 6102
Value 206 is 6111
Value 207 is 6120
Value 208 is 6201
Value 209 is 6210
Value 210 is 6300
Value 211 is 7002
Value 212 is 7011
Value 213 is 7020
Value 214 is 7101
Value 215 is 7110
Value 216 is 7200
Value 217 is 8001
Value 218 is 8010
Value 219 is 8100
Value 220 is 9000

How manynon-negative integer numbers are there below 10000 such that their sum of digits is equal to 10?

In [25]:
from itertools import product
count=1
for d in product(range(10),repeat=4):
    if sum(d)==10:
        print(f'Value {count} is {"".join(map(str, list(d)))}')
        count+=1

Value 1 is 0019
Value 2 is 0028
Value 3 is 0037
Value 4 is 0046
Value 5 is 0055
Value 6 is 0064
Value 7 is 0073
Value 8 is 0082
Value 9 is 0091
Value 10 is 0109
Value 11 is 0118
Value 12 is 0127
Value 13 is 0136
Value 14 is 0145
Value 15 is 0154
Value 16 is 0163
Value 17 is 0172
Value 18 is 0181
Value 19 is 0190
Value 20 is 0208
Value 21 is 0217
Value 22 is 0226
Value 23 is 0235
Value 24 is 0244
Value 25 is 0253
Value 26 is 0262
Value 27 is 0271
Value 28 is 0280
Value 29 is 0307
Value 30 is 0316
Value 31 is 0325
Value 32 is 0334
Value 33 is 0343
Value 34 is 0352
Value 35 is 0361
Value 36 is 0370
Value 37 is 0406
Value 38 is 0415
Value 39 is 0424
Value 40 is 0433
Value 41 is 0442
Value 42 is 0451
Value 43 is 0460
Value 44 is 0505
Value 45 is 0514
Value 46 is 0523
Value 47 is 0532
Value 48 is 0541
Value 49 is 0550
Value 50 is 0604
Value 51 is 0613
Value 52 is 0622
Value 53 is 0631
Value 54 is 0640
Value 55 is 0703
Value 56 is 0712
Value 57 is 0721
Value 58 is 0730
Value 59 is 0802
Value 60 is 0811
Value 61 is 0820
Value 62 is 0901
Value 63 is 0910
Value 64 is 1009
Value 65 is 1018
Value 66 is 1027
Value 67 is 1036
Value 68 is 1045
Value 69 is 1054
Value 70 is 1063
Value 71 is 1072
Value 72 is 1081
Value 73 is 1090
Value 74 is 1108
Value 75 is 1117
Value 76 is 1126
Value 77 is 1135
Value 78 is 1144
Value 79 is 1153
Value 80 is 1162
Value 81 is 1171
Value 82 is 1180
Value 83 is 1207
Value 84 is 1216
Value 85 is 1225
Value 86 is 1234
Value 87 is 1243
Value 88 is 1252
Value 89 is 1261
Value 90 is 1270
Value 91 is 1306
Value 92 is 1315
Value 93 is 1324
Value 94 is 1333
Value 95 is 1342
Value 96 is 1351
Value 97 is 1360
Value 98 is 1405
Value 99 is 1414
Value 100 is 1423
Value 101 is 1432
Value 102 is 1441
Value 103 is 1450
Value 104 is 1504
Value 105 is 1513
Value 106 is 1522
Value 107 is 1531
Value 108 is 1540
Value 109 is 1603
Value 110 is 1612
Value 111 is 1621
Value 112 is 1630
Value 113 is 1702
Value 114 is 1711
Value 115 is 1720
Value 116 is 1801
Value 117 is 1810
Value 118 is 1900
Value 119 is 2008
Value 120 is 2017
Value 121 is 2026
Value 122 is 2035
Value 123 is 2044
Value 124 is 2053
Value 125 is 2062
Value 126 is 2071
Value 127 is 2080
Value 128 is 2107
Value 129 is 2116
Value 130 is 2125
Value 131 is 2134
Value 132 is 2143
Value 133 is 2152
Value 134 is 2161
Value 135 is 2170
Value 136 is 2206
Value 137 is 2215
Value 138 is 2224
Value 139 is 2233
Value 140 is 2242
Value 141 is 2251
Value 142 is 2260
Value 143 is 2305
Value 144 is 2314
Value 145 is 2323
Value 146 is 2332
Value 147 is 2341
Value 148 is 2350
Value 149 is 2404
Value 150 is 2413
Value 151 is 2422
Value 152 is 2431
Value 153 is 2440
Value 154 is 2503
Value 155 is 2512
Value 156 is 2521
Value 157 is 2530
Value 158 is 2602
Value 159 is 2611
Value 160 is 2620
Value 161 is 2701
Value 162 is 2710
Value 163 is 2800
Value 164 is 3007
Value 165 is 3016
Value 166 is 3025
Value 167 is 3034
Value 168 is 3043
Value 169 is 3052
Value 170 is 3061
Value 171 is 3070
Value 172 is 3106
Value 173 is 3115
Value 174 is 3124
Value 175 is 3133
Value 176 is 3142
Value 177 is 3151
Value 178 is 3160
Value 179 is 3205
Value 180 is 3214
Value 181 is 3223
Value 182 is 3232
Value 183 is 3241
Value 184 is 3250
Value 185 is 3304
Value 186 is 3313
Value 187 is 3322
Value 188 is 3331
Value 189 is 3340
Value 190 is 3403
Value 191 is 3412
Value 192 is 3421
Value 193 is 3430
Value 194 is 3502
Value 195 is 3511
Value 196 is 3520
Value 197 is 3601
Value 198 is 3610
Value 199 is 3700
Value 200 is 4006
Value 201 is 4015
Value 202 is 4024
Value 203 is 4033
Value 204 is 4042
Value 205 is 4051
Value 206 is 4060
Value 207 is 4105
Value 208 is 4114
Value 209 is 4123
Value 210 is 4132
Value 211 is 4141
Value 212 is 4150
Value 213 is 4204
Value 214 is 4213
Value 215 is 4222
Value 216 is 4231
Value 217 is 4240
Value 218 is 4303
Value 219 is 4312
Value 220 is 4321
Value 221 is 4330
Value 222 is 4402
Value 223 is 4411
Value 224 is 4420
Value 225 is 4501
Value 226 is 4510
Value 227 is 4600
Value 228 is 5005
Value 229 is 5014
Value 230 is 5023
Value 231 is 5032
Value 232 is 5041
Value 233 is 5050
Value 234 is 5104
Value 235 is 5113
Value 236 is 5122
Value 237 is 5131
Value 238 is 5140
Value 239 is 5203
Value 240 is 5212
Value 241 is 5221
Value 242 is 5230
Value 243 is 5302
Value 244 is 5311
Value 245 is 5320
Value 246 is 5401
Value 247 is 5410
Value 248 is 5500
Value 249 is 6004
Value 250 is 6013
Value 251 is 6022
Value 252 is 6031
Value 253 is 6040
Value 254 is 6103
Value 255 is 6112
Value 256 is 6121
Value 257 is 6130
Value 258 is 6202
Value 259 is 6211
Value 260 is 6220
Value 261 is 6301
Value 262 is 6310
Value 263 is 6400
Value 264 is 7003
Value 265 is 7012
Value 266 is 7021
Value 267 is 7030
Value 268 is 7102
Value 269 is 7111
Value 270 is 7120
Value 271 is 7201
Value 272 is 7210
Value 273 is 7300
Value 274 is 8002
Value 275 is 8011
Value 276 is 8020
Value 277 is 8101
Value 278 is 8110
Value 279 is 8200
Value 280 is 9001
Value 281 is 9010
Value 282 is 9100

How many four-digit numbers are there such that their digits are non-increasing, that is each next digit is not greater than the previous one?
Three-digit numbers are also four-digit, they just start with 0.

In [2]:
from itertools import product
count=1
for d in product(range(10),repeat=4):
    if d[0]>=d[1]>=d[2]>=d[3]:
        print(f'Value {count} is {"".join(map(str, list(d)))}')
        count+=1

Value 1 is 0000
Value 2 is 1000
Value 3 is 1100
Value 4 is 1110
Value 5 is 1111
Value 6 is 2000
Value 7 is 2100
Value 8 is 2110
Value 9 is 2111
Value 10 is 2200
Value 11 is 2210
Value 12 is 2211
Value 13 is 2220
Value 14 is 2221
Value 15 is 2222
Value 16 is 3000
Value 17 is 3100
Value 18 is 3110
Value 19 is 3111
Value 20 is 3200
Value 21 is 3210
Value 22 is 3211
Value 23 is 3220
Value 24 is 3221
Value 25 is 3222
Value 26 is 3300
Value 27 is 3310
Value 28 is 3311
Value 29 is 3320
Value 30 is 3321
Value 31 is 3322
Value 32 is 3330
Value 33 is 3331
Value 34 is 3332
Value 35 is 3333
Value 36 is 4000
Value 37 is 4100
Value 38 is 4110
Value 39 is 4111
Value 40 is 4200
Value 41 is 4210
Value 42 is 4211
Value 43 is 4220
Value 44 is 4221
Value 45 is 4222
Value 46 is 4300
Value 47 is 4310
Value 48 is 4311
Value 49 is 4320
Value 50 is 4321
Value 51 is 4322
Value 52 is 4330
Value 53 is 4331
Value 54 is 4332
Value 55 is 4333
Value 56 is 4400
Value 57 is 4410
Value 58 is 4411
Value 59 is 4420
Value 60 is 4421
Value 61 is 4422
Value 62 is 4430
Value 63 is 4431
Value 64 is 4432
Value 65 is 4433
Value 66 is 4440
Value 67 is 4441
Value 68 is 4442
Value 69 is 4443
Value 70 is 4444
Value 71 is 5000
Value 72 is 5100
Value 73 is 5110
Value 74 is 5111
Value 75 is 5200
Value 76 is 5210
Value 77 is 5211
Value 78 is 5220
Value 79 is 5221
Value 80 is 5222
Value 81 is 5300
Value 82 is 5310
Value 83 is 5311
Value 84 is 5320
Value 85 is 5321
Value 86 is 5322
Value 87 is 5330
Value 88 is 5331
Value 89 is 5332
Value 90 is 5333
Value 91 is 5400
Value 92 is 5410
Value 93 is 5411
Value 94 is 5420
Value 95 is 5421
Value 96 is 5422
Value 97 is 5430
Value 98 is 5431
Value 99 is 5432
Value 100 is 5433
Value 101 is 5440
Value 102 is 5441
Value 103 is 5442
Value 104 is 5443
Value 105 is 5444
Value 106 is 5500
Value 107 is 5510
Value 108 is 5511
Value 109 is 5520
Value 110 is 5521
Value 111 is 5522
Value 112 is 5530
Value 113 is 5531
Value 114 is 5532
Value 115 is 5533
Value 116 is 5540
Value 117 is 5541
Value 118 is 5542
Value 119 is 5543
Value 120 is 5544
Value 121 is 5550
Value 122 is 5551
Value 123 is 5552
Value 124 is 5553
Value 125 is 5554
Value 126 is 5555
Value 127 is 6000
Value 128 is 6100
Value 129 is 6110
Value 130 is 6111
Value 131 is 6200
Value 132 is 6210
Value 133 is 6211
Value 134 is 6220
Value 135 is 6221
Value 136 is 6222
Value 137 is 6300
Value 138 is 6310
Value 139 is 6311
Value 140 is 6320
Value 141 is 6321
Value 142 is 6322
Value 143 is 6330
Value 144 is 6331
Value 145 is 6332
Value 146 is 6333
Value 147 is 6400
Value 148 is 6410
Value 149 is 6411
Value 150 is 6420
Value 151 is 6421
Value 152 is 6422
Value 153 is 6430
Value 154 is 6431
Value 155 is 6432
Value 156 is 6433
Value 157 is 6440
Value 158 is 6441
Value 159 is 6442
Value 160 is 6443
Value 161 is 6444
Value 162 is 6500
Value 163 is 6510
Value 164 is 6511
Value 165 is 6520
Value 166 is 6521
Value 167 is 6522
Value 168 is 6530
Value 169 is 6531
Value 170 is 6532
Value 171 is 6533
Value 172 is 6540
Value 173 is 6541
Value 174 is 6542
Value 175 is 6543
Value 176 is 6544
Value 177 is 6550
Value 178 is 6551
Value 179 is 6552
Value 180 is 6553
Value 181 is 6554
Value 182 is 6555
Value 183 is 6600
Value 184 is 6610
Value 185 is 6611
Value 186 is 6620
Value 187 is 6621
Value 188 is 6622
Value 189 is 6630
Value 190 is 6631
Value 191 is 6632
Value 192 is 6633
Value 193 is 6640
Value 194 is 6641
Value 195 is 6642
Value 196 is 6643
Value 197 is 6644
Value 198 is 6650
Value 199 is 6651
Value 200 is 6652
Value 201 is 6653
Value 202 is 6654
Value 203 is 6655
Value 204 is 6660
Value 205 is 6661
Value 206 is 6662
Value 207 is 6663
Value 208 is 6664
Value 209 is 6665
Value 210 is 6666
Value 211 is 7000
Value 212 is 7100
Value 213 is 7110
Value 214 is 7111
Value 215 is 7200
Value 216 is 7210
Value 217 is 7211
Value 218 is 7220
Value 219 is 7221
Value 220 is 7222
Value 221 is 7300
Value 222 is 7310
Value 223 is 7311
Value 224 is 7320
Value 225 is 7321
Value 226 is 7322
Value 227 is 7330
Value 228 is 7331
Value 229 is 7332
Value 230 is 7333
Value 231 is 7400
Value 232 is 7410
Value 233 is 7411
Value 234 is 7420
Value 235 is 7421
Value 236 is 7422
Value 237 is 7430
Value 238 is 7431
Value 239 is 7432
Value 240 is 7433
Value 241 is 7440
Value 242 is 7441
Value 243 is 7442
Value 244 is 7443
Value 245 is 7444
Value 246 is 7500
Value 247 is 7510
Value 248 is 7511
Value 249 is 7520
Value 250 is 7521
Value 251 is 7522
Value 252 is 7530
Value 253 is 7531
Value 254 is 7532
Value 255 is 7533
Value 256 is 7540
Value 257 is 7541
Value 258 is 7542
Value 259 is 7543
Value 260 is 7544
Value 261 is 7550
Value 262 is 7551
Value 263 is 7552
Value 264 is 7553
Value 265 is 7554
Value 266 is 7555
Value 267 is 7600
Value 268 is 7610
Value 269 is 7611
Value 270 is 7620
Value 271 is 7621
Value 272 is 7622
Value 273 is 7630
Value 274 is 7631
Value 275 is 7632
Value 276 is 7633
Value 277 is 7640
Value 278 is 7641
Value 279 is 7642
Value 280 is 7643
Value 281 is 7644
Value 282 is 7650
Value 283 is 7651
Value 284 is 7652
Value 285 is 7653
Value 286 is 7654
Value 287 is 7655
Value 288 is 7660
Value 289 is 7661
Value 290 is 7662
Value 291 is 7663
Value 292 is 7664
Value 293 is 7665
Value 294 is 7666
Value 295 is 7700
Value 296 is 7710
Value 297 is 7711
Value 298 is 7720
Value 299 is 7721
Value 300 is 7722
Value 301 is 7730
Value 302 is 7731
Value 303 is 7732
Value 304 is 7733
Value 305 is 7740
Value 306 is 7741
Value 307 is 7742
Value 308 is 7743
Value 309 is 7744
Value 310 is 7750
Value 311 is 7751
Value 312 is 7752
Value 313 is 7753
Value 314 is 7754
Value 315 is 7755
Value 316 is 7760
Value 317 is 7761
Value 318 is 7762
Value 319 is 7763
Value 320 is 7764
Value 321 is 7765
Value 322 is 7766
Value 323 is 7770
Value 324 is 7771
Value 325 is 7772
Value 326 is 7773
Value 327 is 7774
Value 328 is 7775
Value 329 is 7776
Value 330 is 7777
Value 331 is 8000
Value 332 is 8100
Value 333 is 8110
Value 334 is 8111
Value 335 is 8200
Value 336 is 8210
Value 337 is 8211
Value 338 is 8220
Value 339 is 8221
Value 340 is 8222
Value 341 is 8300
Value 342 is 8310
Value 343 is 8311
Value 344 is 8320
Value 345 is 8321
Value 346 is 8322
Value 347 is 8330
Value 348 is 8331
Value 349 is 8332
Value 350 is 8333
Value 351 is 8400
Value 352 is 8410
Value 353 is 8411
Value 354 is 8420
Value 355 is 8421
Value 356 is 8422
Value 357 is 8430
Value 358 is 8431
Value 359 is 8432
Value 360 is 8433
Value 361 is 8440
Value 362 is 8441
Value 363 is 8442
Value 364 is 8443
Value 365 is 8444
Value 366 is 8500
Value 367 is 8510
Value 368 is 8511
Value 369 is 8520
Value 370 is 8521
Value 371 is 8522
Value 372 is 8530
Value 373 is 8531
Value 374 is 8532
Value 375 is 8533
Value 376 is 8540
Value 377 is 8541
Value 378 is 8542
Value 379 is 8543
Value 380 is 8544
Value 381 is 8550
Value 382 is 8551
Value 383 is 8552
Value 384 is 8553
Value 385 is 8554
Value 386 is 8555
Value 387 is 8600
Value 388 is 8610
Value 389 is 8611
Value 390 is 8620
Value 391 is 8621
Value 392 is 8622
Value 393 is 8630
Value 394 is 8631
Value 395 is 8632
Value 396 is 8633
Value 397 is 8640
Value 398 is 8641
Value 399 is 8642
Value 400 is 8643
Value 401 is 8644
Value 402 is 8650
Value 403 is 8651
Value 404 is 8652
Value 405 is 8653
Value 406 is 8654
Value 407 is 8655
Value 408 is 8660
Value 409 is 8661
Value 410 is 8662
Value 411 is 8663
Value 412 is 8664
Value 413 is 8665
Value 414 is 8666
Value 415 is 8700
Value 416 is 8710
Value 417 is 8711
Value 418 is 8720
Value 419 is 8721
Value 420 is 8722
Value 421 is 8730
Value 422 is 8731
Value 423 is 8732
Value 424 is 8733
Value 425 is 8740
Value 426 is 8741
Value 427 is 8742
Value 428 is 8743
Value 429 is 8744
Value 430 is 8750
Value 431 is 8751
Value 432 is 8752
Value 433 is 8753
Value 434 is 8754
Value 435 is 8755
Value 436 is 8760
Value 437 is 8761
Value 438 is 8762
Value 439 is 8763
Value 440 is 8764
Value 441 is 8765
Value 442 is 8766
Value 443 is 8770
Value 444 is 8771
Value 445 is 8772
Value 446 is 8773
Value 447 is 8774
Value 448 is 8775
Value 449 is 8776
Value 450 is 8777
Value 451 is 8800
Value 452 is 8810
Value 453 is 8811
Value 454 is 8820
Value 455 is 8821
Value 456 is 8822
Value 457 is 8830
Value 458 is 8831
Value 459 is 8832
Value 460 is 8833
Value 461 is 8840
Value 462 is 8841
Value 463 is 8842
Value 464 is 8843
Value 465 is 8844
Value 466 is 8850
Value 467 is 8851
Value 468 is 8852
Value 469 is 8853
Value 470 is 8854
Value 471 is 8855
Value 472 is 8860
Value 473 is 8861
Value 474 is 8862
Value 475 is 8863
Value 476 is 8864
Value 477 is 8865
Value 478 is 8866
Value 479 is 8870
Value 480 is 8871
Value 481 is 8872
Value 482 is 8873
Value 483 is 8874
Value 484 is 8875
Value 485 is 8876
Value 486 is 8877
Value 487 is 8880
Value 488 is 8881
Value 489 is 8882
Value 490 is 8883
Value 491 is 8884
Value 492 is 8885
Value 493 is 8886
Value 494 is 8887
Value 495 is 8888
Value 496 is 9000
Value 497 is 9100
Value 498 is 9110
Value 499 is 9111
Value 500 is 9200
Value 501 is 9210
Value 502 is 9211
Value 503 is 9220
Value 504 is 9221
Value 505 is 9222
Value 506 is 9300
Value 507 is 9310
Value 508 is 9311
Value 509 is 9320
Value 510 is 9321
Value 511 is 9322
Value 512 is 9330
Value 513 is 9331
Value 514 is 9332
Value 515 is 9333
Value 516 is 9400
Value 517 is 9410
Value 518 is 9411
Value 519 is 9420
Value 520 is 9421
Value 521 is 9422
Value 522 is 9430
Value 523 is 9431
Value 524 is 9432
Value 525 is 9433
Value 526 is 9440
Value 527 is 9441
Value 528 is 9442
Value 529 is 9443
Value 530 is 9444
Value 531 is 9500
Value 532 is 9510
Value 533 is 9511
Value 534 is 9520
Value 535 is 9521
Value 536 is 9522
Value 537 is 9530
Value 538 is 9531
Value 539 is 9532
Value 540 is 9533
Value 541 is 9540
Value 542 is 9541
Value 543 is 9542
Value 544 is 9543
Value 545 is 9544
Value 546 is 9550
Value 547 is 9551
Value 548 is 9552
Value 549 is 9553
Value 550 is 9554
Value 551 is 9555
Value 552 is 9600
Value 553 is 9610
Value 554 is 9611
Value 555 is 9620
Value 556 is 9621
Value 557 is 9622
Value 558 is 9630
Value 559 is 9631
Value 560 is 9632
Value 561 is 9633
Value 562 is 9640
Value 563 is 9641
Value 564 is 9642
Value 565 is 9643
Value 566 is 9644
Value 567 is 9650
Value 568 is 9651
Value 569 is 9652
Value 570 is 9653
Value 571 is 9654
Value 572 is 9655
Value 573 is 9660
Value 574 is 9661
Value 575 is 9662
Value 576 is 9663
Value 577 is 9664
Value 578 is 9665
Value 579 is 9666
Value 580 is 9700
Value 581 is 9710
Value 582 is 9711
Value 583 is 9720
Value 584 is 9721
Value 585 is 9722
Value 586 is 9730
Value 587 is 9731
Value 588 is 9732
Value 589 is 9733
Value 590 is 9740
Value 591 is 9741
Value 592 is 9742
Value 593 is 9743
Value 594 is 9744
Value 595 is 9750
Value 596 is 9751
Value 597 is 9752
Value 598 is 9753
Value 599 is 9754
Value 600 is 9755
Value 601 is 9760
Value 602 is 9761
Value 603 is 9762
Value 604 is 9763
Value 605 is 9764
Value 606 is 9765
Value 607 is 9766
Value 608 is 9770
Value 609 is 9771
Value 610 is 9772
Value 611 is 9773
Value 612 is 9774
Value 613 is 9775
Value 614 is 9776
Value 615 is 9777
Value 616 is 9800
Value 617 is 9810
Value 618 is 9811
Value 619 is 9820
Value 620 is 9821
Value 621 is 9822
Value 622 is 9830
Value 623 is 9831
Value 624 is 9832
Value 625 is 9833
Value 626 is 9840
Value 627 is 9841
Value 628 is 9842
Value 629 is 9843
Value 630 is 9844
Value 631 is 9850
Value 632 is 9851
Value 633 is 9852
Value 634 is 9853
Value 635 is 9854
Value 636 is 9855
Value 637 is 9860
Value 638 is 9861
Value 639 is 9862
Value 640 is 9863
Value 641 is 9864
Value 642 is 9865
Value 643 is 9866
Value 644 is 9870
Value 645 is 9871
Value 646 is 9872
Value 647 is 9873
Value 648 is 9874
Value 649 is 9875
Value 650 is 9876
Value 651 is 9877
Value 652 is 9880
Value 653 is 9881
Value 654 is 9882
Value 655 is 9883
Value 656 is 9884
Value 657 is 9885
Value 658 is 9886
Value 659 is 9887
Value 660 is 9888
Value 661 is 9900
Value 662 is 9910
Value 663 is 9911
Value 664 is 9920
Value 665 is 9921
Value 666 is 9922
Value 667 is 9930
Value 668 is 9931
Value 669 is 9932
Value 670 is 9933
Value 671 is 9940
Value 672 is 9941
Value 673 is 9942
Value 674 is 9943
Value 675 is 9944
Value 676 is 9950
Value 677 is 9951
Value 678 is 9952
Value 679 is 9953
Value 680 is 9954
Value 681 is 9955
Value 682 is 9960
Value 683 is 9961
Value 684 is 9962
Value 685 is 9963
Value 686 is 9964
Value 687 is 9965
Value 688 is 9966
Value 689 is 9970
Value 690 is 9971
Value 691 is 9972
Value 692 is 9973
Value 693 is 9974
Value 694 is 9975
Value 695 is 9976
Value 696 is 9977
Value 697 is 9980
Value 698 is 9981
Value 699 is 9982
Value 700 is 9983
Value 701 is 9984
Value 702 is 9985
Value 703 is 9986
Value 704 is 9987
Value 705 is 9988
Value 706 is 9990
Value 707 is 9991
Value 708 is 9992
Value 709 is 9993
Value 710 is 9994
Value 711 is 9995
Value 712 is 9996
Value 713 is 9997
Value 714 is 9998
Value 715 is 9999

Alice has 7 different textbooks. She would like to lend three books to Bob for a weekend. How many ways does she have to do it?

In [27]:
print(f'There are {c(7,3)} different ways to do the task')

There are 35 different ways to do the task

Alice has 7 textbooks and Bob has 5 textbooks. All textbooks are different. They would like to exchange three books each between each other for a weekend. That is, Alice gives Bob three of her books and Bob gives Alice three of his books. How many ways do they have to do it?

In [28]:
print(f'There are {c(7,3)*c(5,3)} different ways to do the task')

There are 350 different ways to do the task

Five married couples are planning a barbecue. They need to pick three couples who will be responsible for bringing food. How many ways do they have to do it?

In [29]:
print(f'There are {c(5,3)} different ways to do the task')

There are 10 different ways to do the task

Five married couples are planning a barbecue. They need to hold a meeting dedicated to the planning. The meeting should consist of five people, one from each couple. How many possible ways do they have to pick people for the meeting?

In [30]:
print(f'There are {c(2,1)**5} different ways to do the task')

There are 32 different ways to do the task

Five married couples gathered for a barbecue. They need to pick three people among them who will be responsible for preparing the table. But they do not want to pick two people from the same couple for this (this would not be fair). How many ways do they have to pick three people satisfying this requirement?

In [31]:
print(f'There are {c(5,3)*(2**3)} different ways to do the task')

There are 80 different ways to do the task

In a 6 number lottery one is trying to guess an unordered subset of 6 numbers among 44 numbers without repetitions. For this one picks 6 numbers out of 44 himself. How many ways are there to do this?

In [32]:
print(f'There are {c(44,6)} different ways to do the task')

There are 7059052 different ways to do the task

In a 6 number lottery one is trying to guess an unordered subset of 6 numbers among 44 numbers without repetitions. After the lottery the organisers decided to count how many possible ways are there to guess correctly exactly three numbers. What is the answer to this question? You can use wolfram alpha to compute the exact number.

In [33]:
print(f'There are {c(6,3)*c(38,3)} different ways to do the task')

There are 168720 different ways to do the task

# Probability

What is the fraction of beans that end near the center (bins 40-60 among 0-100) for the ideal Galton board with 100 layers?

In [51]:
n = 100
mink,maxk = (40,60)

interest_fract = 0

for k in range(mink,maxk):
    interest_fract += c(n,k)/(2**n)

interest_fract*=100

print(f'The fraction of beans near the center will be of {interest_fract:.10f}%')

The fraction of beans near the center will be of 95.3955933071%

What is the fraction of beans that end near the center (bins 400-600 among 0-1000) for the ideal Galton board with 1000 layers?

In [50]:
n = 1000
mink,maxk = (400,600)

interest_fract = 0

for k in range(mink,maxk):
    interest_fract += c(n,k)/(2**n)

interest_fract*=100

print(f'The fraction of beans near the center will be of {interest_fract:.10f}%')

The fraction of beans near the center will be of 99.9999999773%

In the same setting with 36 (red, blue) outcomes we consider the sum of two numbers (on two dice). What is the most probable value of this sum

In [6]:
val = [0 for _ in range(12)]

for pair in product([i+1 for i in range(6)],[i+1 for i in range(6)]):
    val[sum(pair)-1]+=1

for i in range(len(val)):
    print(f'Sum equal to {i+1} is {val[i]}')

Sum equal to 1 is 0
Sum equal to 2 is 1
Sum equal to 3 is 2
Sum equal to 4 is 3
Sum equal to 5 is 4
Sum equal to 6 is 5
Sum equal to 7 is 6
Sum equal to 8 is 5
Sum equal to 9 is 4
Sum equal to 10 is 3
Sum equal to 11 is 2
Sum equal to 12 is 1